<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!--
<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let link of navLinks"
    [routerLink]="link.link"
    (click)="activeLink = link"
    [disabled]="link.disabled"
    [active]="activeLink == link"> {{link.label}}
  </a>
</nav>
-->
<mat-tab-group>
  <mat-tab label="Device"><app-device></app-device></mat-tab>
  <mat-tab label="RTC"><app-rtc></app-rtc></mat-tab>
  <mat-tab label="Environmental"><app-environmental></app-environmental></mat-tab>
  <mat-tab label="NUS"><app-nus></app-nus></mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
