
<table>
  <tr>
    <td>Direction</td>
    <td>Destination</td>
    <td>Source</td>
    <td>Type</td>
    <td>Binary payload</td>
    <td>Human readable</td>
    <td>Action</td>
    <td>State</td>
  </tr>
  <tr class="{{TXmode}}">
    <td>>>></td>
    <td>
      <select [attr.disabled]="true">
        <option *ngFor="let destination of destinations" [attr.selected]="destination=='Rtc' ? true : null" [attr.disabled]="destination!='Rtc' ? true : null">{{destination}}</option>    
      </select>
    </td>   
    <td>
      <select [attr.disabled]="true">
        <option *ngFor="let source of sources" [attr.selected]="source=='Rtc' ? true : null" [attr.disabled]="source!='Rtc' ? true : null">{{source}}</option>
      </select>
    </td>
    <td>
      <select>
        <option *ngFor="let type of types">{{type}}</option>
      </select>
    </td>
    <td>
      <app-type-parser [data]=TX></app-type-parser>
    </td>
    <td>
      {{ localTime | date: 'yyyy-MM-dd hh:mm:ss' }}
    </td>
    <td>
      <button (click)="sendTX()">Send to device</button><button (click)="synchEpoch()">Synch PC time</button>
    </td>
    <td>{{TXmode}}</td>
  </tr>
  <tr class="{{RXmode}}">
    <td><<<</td>
    <td>
      <select [attr.disabled]="true">
        <option *ngFor="let destination of destinations" [attr.selected]="destination=='Rtc' ? true : null" [attr.disabled]="destination!='Rtc' ? true : null">{{destination}}</option>    
      </select>
    </td>   
    <td>
      <select [attr.disabled]="true">
        <option *ngFor="let source of sources" [attr.selected]="source=='Rtc' ? true : null" [attr.disabled]="source!='Rtc' ? true : null">{{source}}</option>
      </select>
    </td>
    <td>
      <select [attr.disabled]="true">
        <option *ngFor="let type of types" [attr.selected]="type=='RXcmd' ? true : null">{{type}}</option>
      </select>
    </td>
    <td>
      <app-type-parser [data]=RX></app-type-parser>
    </td>
    <td>
      {{ tagTime | date: 'yyyy-MM-dd hh:mm:ss' }}
    </td>
    <td>
    </td>
    <td>{{RXmode}}</td>
  </tr>
</table>


